
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

/* Home Page */
nav {
  display: flex;
  flex-wrap: wrap;
  font-size: 3em;
  justify-content: space-around;
  align-items: center;
  padding: 1% 10%;
  background-color: #009688;
  color: white;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 100;
}

a {
  color: white;
  text-decoration: none;
}

.toCenter {
  display: flex;
  gap: 1.5em;
}

.toCenter svg {
    width: 80px;
    height: 80px;
}

.toCenter a {
  display: flex;
}

.toRight a{
  display: flex;

}

nav .title {
  display: flex;
  font-weight: bold;
  align-items: center;
}

main {
  margin: 2% 10%;
}

.ficheList {

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
  max-width: 1150px;
  margin: 0 auto;
}

.fiche {
  height: 350px;
  width: 350px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 16px;

}

.ficheName {
  font-size: 1.5em;
  font-weight: bold;
}

/*dans le details des projets */

p {
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
}

.projects_elements {
  display: flex;
}

.project_info {
  display: flex;
  gap: 20%;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5% 10%;
}

.project_info .links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.project_elements .title {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.tech_group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 5%;
  gap: 20px;
  max-width: 360px; /* 3 éléments de ~120px */
}

.tech_element {
  text-align: center;
  gap: 20px;
}

.tech_element img {
  height: 80px;
  margin: 5%;
}

.tech_name {
  margin: 5%;
  font-size: 1.2em;
}

.screenshots {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.screens_element_name{
  font-weight: bold;
  text-align: center;
}
.screens_group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.screens_element {
  display: flex;
  flex-direction: column;
}

.screenshots img {
  width: 100%;
  height: auto; 
  max-height: 700px;
  max-width: 1000px;
  border-radius: 10px;
  object-fit: contain; /* ou cover selon ce que tu veux */
  display: block;
  margin: auto;
}



.mobile {
  display: none
}

@media (max-width: 800px) {


  .mobile {
    display: block;
  }

  .desktop {
    display: none
  }

  nav {
    padding: 2.5% ;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: stretch;
  }

  nav .title {
    font-size: 60%;
  }

  .toCenter{
    display: flex;
    justify-content: center;
  }

  .tech_element img {
    height: 70px;
  }

  nav button svg{
    width: 40px;
    height: 40px;
  }

  nav svg{
    width: 60px;
    height: 60px;
  }


  .screens_element {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .tech_group {
    margin-top: 10%;
    max-width: none;
  }
}